.container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:repeat(4,100px);
  grid-gap:10px;
  height:100vh;
  
.box{
  background-color:;
  border: solid;
  display:grid;
  justify-items: center;
  align-items:center;
  
}
.child1{
  background-color:#CEC65CE0;
  grid-column:1/2;
  grid-row:1/5;
  
}
.child2{
  background-color :#5CCE6BE0;
grid-column:2/4;
grid-row:1/2;
}
.child3{
  background-color :#815CCE;
grid-column:2/3;
grid-row:2/4;
}
.child4{
  background-color :#5CCBCE;
  grid-row:4/5;
 grid-column:2/3;
}
.child5{
  background-color :#CE5C5C;
  grid-row:2/5;
  grid-column:3/4;
}
 